<form [formGroup]="registerForm" >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Prestamos</mat-card-title>
      <mat-card-subtitle>Lista de tus prestamos</mat-card-subtitle>
    </mat-card-header>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput placeholder="Juan Gomez" formControlName="Name" required>
      <mat-error *ngIf="registerForm.controls.Name.hasError('required')">Campo requerido</mat-error>
      <mat-error *ngIf="registerForm.controls.Name.hasError('minlength')">Min. 5 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="123 456 7890" formControlName="Phone" required>
      <mat-error *ngIf="registerForm.controls.Phone.hasError('required')">Campo requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="example@example.com" formControlName="Email" required>
      <mat-error *ngIf="registerForm.controls.Email.hasError('required')">Campo requerido</mat-error>
      <mat-error *ngIf="registerForm.controls.Email.hasError('email')">Formato invalido</mat-error>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="" formControlName="Username" required>
      <mat-error *ngIf="registerForm.controls.Username.hasError('required')">Campo requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="" formControlName="Password" required>
      <mat-error *ngIf="registerForm.controls.Password.hasError('required')">Campo requerido</mat-error>
    </mat-form-field>
  </div>
  <mat-card-actions>
    <button mat-button [disabled]="!registerForm.valid" (click)="onSubmit()">Registrarse</button>
  </mat-card-actions>
  </mat-card>
</form>