.hidden {
  display: none;
}

#languageOptions {
  background-color: #282828;
  width: 50px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
}

#languageOptions ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

#languageOptions li {
    position: relative;
    display: block;
}

#languageOptions li:last-child {
  border-bottom: none;
}

#languageOptions li:hover {
    color: #fff !important;
    background: #383838;
}

.flag-icon {
  margin-right: 10px;
}

